
body{
    background-color: #222222;
    flex-direction: column;
    height: 100vh;
}
header{
    height: 100px;
    background-color: #F5E7C6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.pedidos {
    background: #fff5f0;
    padding: 50px;
    text-align: center;
}

.pedidos h2 {
    color: #c0392b;
    margin-bottom: 30px;
}

.form-pedido {
    max-width: 400px;
    margin: auto;
}

.form-pedido input,
.form-pedido select,
.form-pedido textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-pedido textarea {
    resize: none;
    height: 80px;
}

.form-pedido button {
    width: 100%;
    padding: 12px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.form-pedido button:hover {
    background: #c0392b;
}


